<section id="campaign-table">
    <h3>Ongoing Thrifts</h3>
    <div class="container" style="overflow:scroll; height: 30vh;">
       
        <table class="styled-table" >
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Owner</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>The Oyebola Dynasty</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Public</td>
                    <td>Thrively</td>
                    <td>Wed 05, 2022</td>
                    <td><a [routerLink]="['/thrift-details', 1]" class="view-campaign">View</a></td>
                </tr>
                <tr class="active-row">
                    <td>1</td>
                    <td>Gateway CDA</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a [routerLink]="['/thrift-details', 2]" class="view-campaign">View</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a [routerLink]="['/thrift-details', 3]" class="view-campaign">View</a></td>
                </tr>
                <tr class="active-row">
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a [routerLink]="['/thrift-details', 4]" class="view-campaign">View</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a [routerLink]="['/thrift-details', 5]" class="view-campaign">View</a></td>
                </tr>
                <tr class="active-row">
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a [routerLink]="['/thrift-details', 6]" class="view-campaign">View</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a [routerLink]="['/thrift-details', 7]" class="view-campaign">View</a></td>
                </tr>
                <tr class="active-row">
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a [routerLink]="['/thrift-details', 8]" class="view-campaign">View</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a [routerLink]="['/thrift-details', 9]" class="view-campaign">View</a></td>
                </tr>
                <tr class="active-row">
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a [routerLink]="['/thrift-details', 10]" class="view-campaign">View</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a href="#" class="view-campaign">View</a></td>
                </tr>
                <tr class="active-row">
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a href="#" class="view-campaign">View</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a href="#" class="view-campaign">View</a></td>
                </tr>
                <tr class="active-row">
                    <td>1</td>
                    <td>Simeon</td>
                    <td>2 Weeks</td>
                    <td>Active</td>
                    <td>Private</td>
                    <td>Enoch Oluwumi</td>
                    <td>Wed 05, 2022</td>
                    <td><a href="#" class="view-campaign">View</a></td>
                </tr>
            </tbody>
        </table>


    </div>
</section>