@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Great+Vibes&family=Montserrat:ital,wght@0,100;0,600;1,200&family=Open+Sans:wght@300&family=PT+Sans+Narrow&family=Poppins:wght@600&family=Rokkitt:wght@200;300&family=Ubuntu:ital,wght@0,300;0,500;1,400&display=swap');


.back-btn{
    text-decoration: none;
    background: #4548EA;
    padding: 1vh 2vh 1vh 2vh;
    color: #fff;
    border-radius: 20px 20px;
    border: none;
    margin-left: 3vh;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.back-btn:hover{
    background: #1b1eeb;
}

.container{
    display: block;
    width: 90%;
    min-height: 50vh;
    margin: auto;
    align-items: center;
    
    /* background: black; */
}