<section id="new-thrift">

    
    <div class="container">
        
        <div class="thrift-form">
            <h3>SIGNUP TO Thrively <small>Fill in all required details</small></h3>
            <form >
              <fieldset>
                <legend>First Name</legend>
                <input type="text"
                id="thriftName"
                formControlName="thriftName"
                name="thriftname"
                required>
              </fieldset>

              <fieldset>
                <legend>Last Name</legend>
                <input type="text"
                id="thriftName"
                formControlName="thriftName"
                name="thriftname"
                required>
              </fieldset>

              <fieldset>
                <legend>Email</legend>
                <input type="text"
                id="thriftName"
                formControlName="thriftName"
                name="thriftname"
                required>
              </fieldset>

              <fieldset>
                <legend>Phone Number</legend>
                <input type="text"
                id="thriftName"
                formControlName="thriftName"
                name="thriftname"
                required>
              </fieldset>

              <fieldset>
                <legend>Choose a PIN</legend>
                <input type="text"
                id="thriftName"
                formControlName="thriftName"
                name="thriftname"
                required>
              </fieldset>

             
               
             
             
              <button style="margin-right: 3vh;" (click)="navigateUser()" >Signup</button> <button (click)="navigatenewUser()" style="background: transparent; border: 2px solid #4548EA; color: #4548EA; ">Already a User ?</button>
            
            </form>
        </div>
    </div>

</section>