<section class="thrift-board">
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="statistic-block block">
                <div class="progress-details d-flex align-items-end justify-content-between">
                  <div class="title">
                    <div class="icon"> <a routerLink="/myboard/thrift-board" style="color: inherit;"> <i class="fa fa-pencil-square-o"></i> </a></div><strong>Personal Thrift</strong>
                  </div>
                  <div class="number dashtext-1"> <a routerLink="/myboard/thrift-board" style="color: inherit;"> <i class="fa fa-pencil-square-o"></i> </a></div>
                </div>
                <div class="progress progress-template">
                  <div role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="statistic-block block">
                <div class="progress-details d-flex align-items-end justify-content-between">
                  <div class="title">
                    <div class="icon"><i class="fa fa-bank"></i></div><strong>Domestic Thrift</strong>
                  </div>
                  <div class="number dashtext-2"> <i class="fa fa-bank"></i> </div>
                </div>
                <div class="progress progress-template">
                  <div role="progressbar" style="width: 100%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-2"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="statistic-block block"> 
                <div class="progress-details d-flex align-items-end justify-content-between">
                  <div class="title">
                    <div class="icon"> <a routerLink="/myboard/txns" style="color: inherit;"> <i class="fa fa-list-ol"></i></a></div><strong>Organization</strong>
                  </div>
                  <div class="number dashtext-3"><a routerLink="/myboard/txns" style="color: inherit;"> <i class="fa fa-list-ol"></i></a></div>
                </div>
                <div class="progress progress-template">
                  <div role="progressbar" style="width: 100%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6">
              <div class="statistic-block block">
                <div class="progress-details d-flex align-items-end justify-content-between">
                  <div class="title">
                    <div class="icon"><i class="icon-writing-whiteboard"></i></div><strong>News And Announcement</strong>
                  </div>
                  <div class="number dashtext-4"><i class="icon-writing-whiteboard"></i></div>
                </div>
                <div class="progress progress-template">
                  <div role="progressbar" style="width: 100%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
</section>