<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class=" modal-lg modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Notification Title</strong>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
       
        </div>
        <div class="modal-footer">
            <p>Time</p>
        </div>
      </div>
    </div>
  </div>