<div id="moreThriftDetails" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class=" modal-md modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header"><strong id="exampleModalLabel" class="modal-title"> {{thriftResponse?.thriftName}} </strong>
          <button type="button" (click)="killComponent()" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body" style="text-transform: capitalize; font-size: 18px;">
          <p>Description: {{thriftResponse?.description}}</p>
          <p>Duration: {{thriftResponse?.duration}}</p>
          <p>Attainable Amount: N{{thriftResponse?.attainableAmount}}</p>
          <p>Start Date: {{thriftResponse?.startDate}} </p>
          <p>Thrift Creator: {{userDetails}}</p>
       
        </div>
        <div class="modal-footer">
            <p>Date & Time Created: {{thriftResponse?.datecreated}} | {{thriftResponse?.timeCreated}} </p>
        </div>
      </div>
    </div>
  </div>