.container{
    display: flex;
    width: 100%;
    min-height: 5vh;
    margin-top: -10vh;
    margin: auto;
    align-items: center;
    /* background: black; */
}
.container .logo{
    flex: 1;
    margin: auto;
}
.container .logo img{
    width: 15vh;
}

.container .nav-item{
    flex: 1;
}
.fa-bell{
    color: rgb(245, 52, 52);
}
.fa-bell:hover{
    color: red;
}
.fa-user{
    color: rgb(81, 81, 216);
}
.fa-user:hover{
    color: rgb(0, 0, 255);
}
.container .nav-item ul{
    list-style: none;
    float: right;
    padding-right: 8vh;
    display: flex;
}
.container .nav-item ul li:hover{
    cursor: pointer;
    transform: scale(1.1);
  transition: all ease 500ms;
}
.container .nav-item ul li{
    padding-right: 5vh;
}

i{
    font-size: 22px;
}