<app-nav-bar></app-nav-bar>

<section id="profile">

    <button class="back-btn" (click)="back()" ><i class="fa fa-backward"><span> BACK</span></i></button>
    <div class="container">

        <div class="profile-img">
            <img src="assets/user.jpg" alt="" srcset="">
            
        </div>

        <div class="profile-text">
            <h3>Good {{greeting()}} {{userData.firstname}} </h3>

            <p>Username: <span>{{userData.firstname}} </span> </p>
            <p>Account ID: <span>{{userData.account_no}} </span> </p>
            <p>Role: <span>General User</span> </p>
            <p>Account Verification Status: <span style="color: red"> {{validStatus}} </span></p>
            <p>Account Balance: <span> ₦---</span> </p>
            <p>Funds Locked: <span>₦10000</span></p>

            <button *ngIf=" validStatus != 'Verified'" (click)="verifyAccount()">Verify Account</button> <button style="margin-left: 2vh;" (click)="verifyAccountInfo()">Add Payment Info</button>
        </div>

    </div>

    <div class="container" *ngIf="verification ">
        <div class="thrift-form">
            <h3>verify account</h3>
            <form >
              <fieldset>
                <legend>Bank Verification number - (BVN)</legend>
                <input type="number"
                id="bvn"
                formControlName="bvn"
                name="bvn"
                required>
              </fieldset>

              <fieldset>
                <legend>National Identity Number - (NIN)</legend>
                <input type="number"
                id="nin"
                formControlName="nin"
                name="nin"
                required>
              </fieldset>


              <button (click)="verified()" style="background-color: green;">JOIN</button>
            
            </form>
        </div>
    </div>

    <div class="container" *ngIf="accountVer" >
        <div class="thrift-form">
            <h3>Add Payment Information</h3>
            <form >
              <fieldset>
                <legend>Account Number</legend>
                <input type="number"
                id="bvn"
                formControlName="bvn"
                name="bvn"
                required>
              </fieldset>

              <fieldset>
                <legend>Bank</legend>
                <input type="text"
                id="nin"
                formControlName="nin"
                name="nin"
                required>
              </fieldset>

              <fieldset>
                <legend>Card Number</legend>
                <input type="text"
                id="nin"
                formControlName="nin"
                name="nin"
                required>
              </fieldset>

              <fieldset>
                <legend>CVV</legend>
                <input type="text"
                id="nin"
                formControlName="nin"
                name="nin"
                required>
              </fieldset>

              <fieldset>
                <legend>EXpiry Date</legend>
                <input type="text"
                id="nin"
                formControlName="nin"
                name="nin"
                required>
              </fieldset>


              <button (click)="verified()" style="background-color: green;">ADD</button>
            
            </form>
        </div>
    </div>

</section>

<section id="jointhrift">
    

   
</section>