
<!-- <app- -->

<section id="profile">
<!-- 
    <button class="back-btn" (click)="back()" ><i class="fa fa-backward"><span> BACK</span></i></button>
    <div class="container">

        <div class="profile-img">
            <img src="assets/user.jpg" alt="" srcset="">
            
        </div>

        <div class="profile-text">
            <h3>Good {{greeting()}} {{userData.firstname}} </h3>

            <p>Username: <span>{{userData.firstname}} </span> </p>
            <p>Account ID: <span>{{userData.account_no}} </span> </p>
            <p>Role: <span>General User</span> </p>
            <p>Account Verification Status: <span style="color: red"> {{validStatus}} </span></p>
            <p>Account Balance: <span> ₦---</span> </p>
            <p>Funds Locked: <span>₦10000</span></p>

            <button *ngIf=" validStatus != 'Verified'" (click)="verifyAccount()">Verify Account</button> <button style="margin-left: 2vh;" (click)="verifyAccountInfo()">Add Payment Info</button>
        </div>

    </div>

    <div class="container" *ngIf="verification ">
        <div class="thrift-form">
            <h3>verify account</h3>
            <form >
              <fieldset>
                <legend>Bank Verification number - (BVN)</legend>
                <input type="number"
                id="bvn"
                formControlName="bvn"
                name="bvn"
                required>
              </fieldset>

              <fieldset>
                <legend>National Identity Number - (NIN)</legend>
                <input type="number"
                id="nin"
                formControlName="nin"
                name="nin"
                required>
              </fieldset>


              <button (click)="verified()" style="background-color: green;">JOIN</button>
            
            </form>
        </div>
    </div>

    <div class="container" *ngIf="accountVer" >
        <div class="thrift-form">
            <h3>Add Payment Information</h3>
            <form >
              <fieldset>
                <legend>Account Number</legend>
                <input type="number"
                id="bvn"
                formControlName="bvn"
                name="bvn"
                required>
              </fieldset>

              <fieldset>
                <legend>Bank</legend>
                <input type="text"
                id="nin"
                formControlName="nin"
                name="nin"
                required>
              </fieldset>

              <fieldset>
                <legend>Card Number</legend>
                <input type="text"
                id="nin"
                formControlName="nin"
                name="nin"
                required>
              </fieldset>

              <fieldset>
                <legend>CVV</legend>
                <input type="text"
                id="nin"
                formControlName="nin"
                name="nin"
                required>
              </fieldset>

              <fieldset>
                <legend>EXpiry Date</legend>
                <input type="text"
                id="nin"
                formControlName="nin"
                name="nin"
                required>
              </fieldset>


              <button (click)="verified()" style="background-color: green;">ADD</button>
            
            </form>
        </div>
    </div>

</section>

<section id="jointhrift"> -->

  <section  class="no-padding-bottom pt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="user-block block text-center">
            <div class="avatar"><img src="/assets/user.jpg" alt="..." class="img-fluid">
              <div class="order dashbg-2" style="background-color: #fff;"> <i class="fa fa-circle" style="color: green;"></i> </div>
            </div><a href="#" class="user-title">
              <h3 class="h5">{{userData.firstname}} {{userData.lastname}} </h3><span>{{userData.account_no}}</span></a>
            <div class="contributions">{{role}}</div>
            <div class="details d-flex">
              <div class="item"><i class="fa fa-unlock"></i><strong>150000</strong></div>
              <div class="item"><i class="fa fa-bank"></i><strong>34000</strong></div>
              <div class="item"><i class="fa fa-lock"></i><strong>N20000</strong></div>
              <div style="color: red;" class="item"><i class="fa fa-question-circle"></i><strong>Not Verified</strong></div>
            </div>
          </div>
        </div>
      
     
      </div>
      <div class="overflow-auto" style="overflow: scroll !important; height: 60vh; overflow: scroll;
      overflow-y: hidden;;">
        <div class="public-user-block block">
          <div class="row d-flex align-items-center">                   
            <div class="col-lg-6 d-flex align-items-center">
              
              <a class="name"><strong class="d-block">Registered Email</strong></a>
            </div>
            <div class="col-lg-6 text-center">
              <div class="contributions"> {{email}} </div>
            </div>
          </div>
        </div>


      <div class="public-user-block block">
        <div class="row d-flex align-items-center">                   
          <div class="col-lg-6 d-flex align-items-center">
            
            <a class="name"><strong class="d-block">Registered Phone Number</strong></a>
          </div>
          <div class="col-lg-6 text-center">
            <div class="contributions"> {{userData.phone}} </div>
          </div>
        </div>
        
        
      </div>

      <div class="public-user-block block">
        <div class="row d-flex align-items-center">                   
          <div class="col-lg-6 d-flex align-items-center">
            
            <a class="name"><strong class="d-block">Country</strong></a>
          </div>
          <div class="col-lg-6 text-center">
            <div class="contributions"> {{userData.country}} </div>
          </div>
          <!-- <div class="col-lg-4">
            <div class="details d-flex">
              <div class="item"><i class="icon-info"></i><strong>110</strong></div>
              <div class="item"><i class="fa fa-gg"></i><strong>200</strong></div>
              <div class="item"><i class="icon-flow-branch"></i><strong>100</strong></div>
            </div>
          </div> -->
        </div>
      </div>


    <div class="public-user-block block">
      <div class="row d-flex align-items-center">                   
        <div class="col-lg-6 d-flex align-items-center">
          
          <a class="name"><strong class="d-block">Date Of Birth</strong></a>
        </div>
        <div class="col-lg-6 text-center">
          <div class="contributions"> {{userData.date_of_birth}} </div>
        </div>
        <!-- <div class="col-lg-4">
          <div class="details d-flex">
            <div class="item"><i class="icon-info"></i><strong>110</strong></div>
            <div class="item"><i class="fa fa-gg"></i><strong>200</strong></div>
            <div class="item"><i class="icon-flow-branch"></i><strong>100</strong></div>
          </div>
        </div> -->
      </div>
      
      
    </div>

    <div class="public-user-block block">
      <div class="row d-flex align-items-center">                   
        <div class="col-lg-6 d-flex align-items-center">
          
          <a class="name"><strong class="d-block">Home Address</strong></a>
        </div>
        <div class="col-lg-6 text-center">
          <div class="contributions"> {{userData.address}} </div>
        </div>
        <!-- <div class="col-lg-4">
          <div class="details d-flex">
            <div class="item"><i class="icon-info"></i><strong>110</strong></div>
            <div class="item"><i class="fa fa-gg"></i><strong>200</strong></div>
            <div class="item"><i class="icon-flow-branch"></i><strong>100</strong></div>
          </div>
        </div> -->
      </div>
    </div>


  <div class="public-user-block block">
    <div class="row d-flex align-items-center">                   
      <div class="col-lg-6 d-flex align-items-center">
        
        <a class="name"><strong class="d-block">Registered Email</strong></a>
      </div>
      <div class="col-lg-6 text-center">
        <div class="contributions"> {{email}} </div>
      </div>
      <!-- <div class="col-lg-4">
        <div class="details d-flex">
          <div class="item"><i class="icon-info"></i><strong>110</strong></div>
          <div class="item"><i class="fa fa-gg"></i><strong>200</strong></div>
          <div class="item"><i class="icon-flow-branch"></i><strong>100</strong></div>
        </div>
      </div> -->
    </div>
    
    
  </div>
      </div>
    </div>
  </section>
    
</section>