/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    padding: 0;
  }

 
  .ngx-pagination a{
    cursor: pointer;
    color: #fff !important;
}

.ngx-pagination button{
    cursor: pointer;
    color: #fff !important;
}


.ngx-pagination a:hover{
  cursor: pointer;
  background-color: #EA5F70 !important;
}

.ngx-pagination button{
  cursor: pointer;
  color: #EA5F70 !important;

}

.ngx-pagination .current{
  cursor: pointer;
  background-color: #EA5F70 !important;
}