<app-preloader *ngIf="load"></app-preloader>

<section *ngIf="!load" id="new-thrift">

    
    <div class="container">
        
        <div class="thrift-form">
            <h3>LOGIN TO Thrively <small>Fill in all required details</small></h3>
            <form [formGroup]="Login" (ngSubmit)="ProceedLogin()" >
              <fieldset>
                <legend>Account ID or Username</legend>
                <input type="email"
                id="email"
                formControlName="email"
                [(ngModel)]="email"
                autocomplete="off"
                name="email"
                required>
              </fieldset>

             
               
              <fieldset>
                <legend>PIN</legend>
                <input type="password"
              id="password"
              [(ngModel)]="password"
              formControlName="password"
              name="password"
              required>
              </fieldset>
             
              <button 
                [disabled]="email === '' || password === ''"
              style="margin-right: 3vh;"
              type="submit"
               >LOGIN</button> <button (click)="navigatenewUser()" style="background: transparent; border: 2px solid #4548EA; color: #4548EA; ">New user ?</button>
            
            </form>
        </div>
    </div>

</section>